* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.building {
    display: flex;
    flex-direction: column;
    padding: 36px;
    align-items: center;
    border: 3px solid gray;
}

.floors {
    display: block;
}

.floor {
    display: flex;
    gap: 16px;
}

.shaft {
    width: 100px;
    height: 100px;
    border: 1px solid #9c9090;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    font-size: 14px;
    padding: 6px 9px;
    background: #bbbbbb;
    border-radius: 5px;
    border: 2px solid #bbbbbb;
    cursor: pointer;
}

.active {
    border: 2px solid #d02020;
}

.elevator {
    position: absolute;
    width: 102px;
    height: 102px;
    background: #9c9090;
}